---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Pricing from '../components/Pricing.astro';
import Header from '../components/Header.astro';
---


<Layout title="HealthDocs - Gestión Documental para Salud">
  <main>
    <Header/>
    <Hero />
    <Features />
    <Pricing />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    color: #13151a;
    line-height: 1.6;
  }
</style>