---
---
<header>
  <nav>
    <ul>
      <li class="brand">
        <img src="../../public/Logo-saas.png" alt="HealthDocs Logo" />
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    background-color: #ffffff;
    padding: 1rem;
  }
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .brand {
    display: flex;
    align-items: center;
  }
  nav .brand img {
    height: auto;
    width: 150px;
    margin-right: 0.5rem;
  }
  nav .spacer {
    flex-grow: 1;
  }

  .nav-item {
    margin-left: 1rem; /* Ajusta este valor según el espacio que desees */
  }
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
    nav .spacer {
      display: none;
    }
    .nav-item {
      margin-left: 0;
      margin-top: 0.5rem; /* Ajusta este valor según el espacio que desees en pantallas pequeñas */
    }
  }
</style>